.theme-dark {
  --background-primary: #2f3441;
  --background-secondary: #262a34;
  --background-secondary-alt: #1e222a;
  --background-tertiary: #1e222a;
  --channeltextarea-background: #262a34;
  --background-floating: #1e222a;

  --scrollbar-auto-thumb: #D8DEE9;
  --scrollbar-auto-track: #3B4252;

  --background-modifier-accent: #d6d6d6;
}

.root-g14mjS,
.flex-2S1XBF {
  background-color: #262a34;
}

.message-G6O-Wv {
  background-color: #2f3441 !important;
}

